@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  width: 100vw;
  background-color:#dbcbbd;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  border: 2px solid black;
  background-color: #290001;
  width: 100vw;
  height: 40px;
  color: white;
  z-index: 1;
}

.logo img {
  margin-right: 15px;
}

.logo:hover {
  color: #007bff;
}

.nav__right {
  display: flex;
  flex-direction: row;
}

.profile, .media_signIn {
  height: 40px;
  width: 150px;
  text-align: right;
  padding: 8px 0 8px 0;
}

.profile:hover {
  color: #007bff;
}

.menu {
  position: fixed;
  top: 40px;
  border: 2px solid black;
  right: 0px;
  background-color: #290001;
  color: white;
  border-bottom-left-radius: 10px;
  z-index: 1;
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

li {
    list-style-type: none;
    padding: 5px 20px 5px 20px;
    border-top: 2px solid black;
}

.menu li:hover {
background-color: grey;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addArtArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addArtArea textarea {
  height: 400px;
  width: 400px;
}

.addArtArea label {
  font-size: 20px;
  font-weight: 500px;
}

.addArtArea .postMsg {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500px;
}

.magazine {
  margin-top: 40px;
  width: 840px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.magazine article {
  border: 1px solid black;
  margin: 20px 20px 0px 20px;
  padding: 5px;
  width: 800px;
  border-radius: 20px;
  background-color: rgba(232, 236, 241, 1);
  color: black;
}

.magazine article:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.magazine article:hover .comauthor {
  color: black;
  background: #d9ecf2;
  border: 1px solid black;
  transition: 0.5s;
}

.magazine .comment:hover {
  border: 1px solid #0079D3;
  background-color: grey;
  color: white;
  transition: 0.5s;
}

.author {
  max-width: 90px;
  width: 90px;
  overflow: scroll;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid black;
  padding: 3px;
  display: inline-flex;
  margin: 10px 10px 0px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: firebrick;
}

.topic {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid blue;
  padding: 10px 80px 10px 80px;
  word-wrap: break-word;
}

.rating {
  border-bottom: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color:#DAE0E6;
}

.rev {
  margin: 0 5px 0 5px;
  color: black;
}

.votes {
  max-height: 30px;
  max-width: 30px;
  margin: 0px 5px 0px 5px;
  border-radius: 50%;
  display: inline;
}

.comment {
  margin: 0px 3px 0px 3px;
  padding: 8px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid black;
}

.comauthor {
  max-width: 90px;
  width: 90px;
  overflow: scroll;
  border: 1px solid red;
  color: black;
  margin-right: 15px;
  padding: 1px 3px 1px 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.comcontent {
  word-wrap: break-word;
}

.side {
  margin-top: 60px;
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outside, .inside {
  width: 264px;
  border: 1px solid blue;
  padding: 10px;
  position: fixed;
  background-color:#DAE0E6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

input[type=submit] {
  border: 1px solid #007bff;
  padding: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: #007bff;
  margin: 1rem 0 0.5rem 0;
}

button {
  border: 1px solid #007bff;
  padding: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: #007bff;
}

.up, .in {
  border-bottom: 1px #007bff;
  color: #007bff;
  font-size: 18px;
  font-weight: 300px;
  text-align: center;
  margin-top: 20px;
}

.frontMsg, .msg {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 500px;
}

h3 {
  margin: 20px 0 20px 0;
}

.commentDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btnComEdits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.btnComEdits button {
  margin-right: 5px;
}

.comAdd textarea {
  height: 300px;
}

.comBtn {
  width: 148px;
  text-align: center;
  margin-bottom: 10px;
}

.bArt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 930px) {

  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .magazine {
    width: 840px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 160px;
  }

  .side {
    margin-top: 50px;
  }

  .outside {
    display: none;
  }

  .bArt, .mediaComBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
  }
}
