@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  width: 100vw;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  border: 2px solid black;
  background-color: black;
  width: 100vw;
  height: 40px;
  color: white;
}

// .profile:hover .menu{
//   display: block;
// }
//
.menu {
  // background-color: black;
  // color: white;
  position: fixed;
  top: 40px;
  border: 2px solid black;
  right: 0px;
  // display: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.magazine {
  margin-top: 40px;
  width: 840px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.magazine article {
  border: 1px solid blue;
  margin: 20px 20px 0px 20px;
  padding: 5px;
  width: 800px;
}

.magazine article:hover {
  border: 1px solid red;
}

.magazine .comment:hover {
  border: 1px solid firebrick;
  background-color: grey;
  color: white;
}

.author {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid maroon;
  padding: 3px;
  display: inline-flex;
  margin: 10px 10px 0px 10px;
}

.topic {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid blue;
  padding: 10px 80px 10px 80px;
  word-wrap: break-word;
}

.rating {
  border-bottom: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.rev {
  margin: 0 10px 0 10px;
}

.btn-down {
  margin: 0px 10px 0px 10px;
}

.btn-up {
  margin: 0px 10px 0px 10px;
}

.comment {
  margin: 0px 3px 3px 3px;
  padding: 8px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid black;
}

.comauthor {
  border: 1px solid black;
  margin-right: 15px;
  padding: 1px 3px 1px 3px;
}

.comcontent {
  word-wrap: break-word;
}


.side {
  border: 1px solid blue;
  margin-top: 60px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
}
